
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
=======
# Visual Studio / .NET build
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET Temp files
*.publish.xml
publish/

# React / Node
/frontend/library-ui/node_modules/
/frontend/library-ui/build/

# VS Code
.vscode/
