$primary-color: #ffffff;
$background-color: #222222;
$text-color: #aaa;
$header-padding: 18px 0;
$link-gap: 28px;
$font-main: "Space Grotesk", "Segoe UI", Arial, sans-serif; // שים גם את הפונט שלך פה!
$font-size-base: 16px;
