.bouncy-text {
  display: inline-block;
  animation: bounce 2s forwards infinite;
  font-size: 28px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-1px);
  }
}
