@use "../styles/_variables" as *;
.members-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  min-height: 400px;
  overflow-x: hidden;

  .table-responsive {
    width: 100%;
    margin-bottom: 20px;
    max-height: 75vh;
    overflow: auto;
  }
  .btn {
    background-color: $btn-bg;
  }
}

@media (max-width: 700px) {
  .members-container {
    margin-top: 15%;
  }
  .table-responsive {
    padding: 0 0;
    width: 90%;
    max-height: 65vh !important;
    margin: auto;
  }
}
